@media screen and (max-width : 1000px) {
    .card{
       margin-left: -10%;
        z-index: 0;
    }

    .carousel-item{
            padding:40px 60px 0px 60px;    
    }
    .navbar{
        position: sticky;
        top:0;
        z-index: 1;
    } 
    #carouselExampleIndicators{
        margin-top: 10%;
    }
    #fixMob{
        margin-left: -11%;
    }
    
   
}