@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Jaro:opsz@6..72&display=swap');

*{
    cursor: url("../cusor/league\ of\ legends\ legacy\ .cur"),auto;
}
html{
    scroll-behavior: smooth;
    scrollbar-color: red;

    
    
}


  
.card{

    
    width: clamp(300px, 75% , 700px);
    margin-left: 20%;

}



.carousel-item{
    margin-top: 5%;

    padding: 2% 60px 0px 60px;     
    display: flex;
    float: left;
    align-items: center;
    justify-content: flex-end;

}
.Logo,.card-title {
    font-family: "Jaro", sans-serif;
  font-optical-sizing: auto;
  
  font-weight: 400;
  font-style: normal;
}
.card-title .Logo #Im{
    height: 17vh;
}

a{
    text-decoration: none;
    text-align: center;
    color: black;
}

#Im{
    font-size: 13px;
}


:not(.Logo){
    font-family: "Fjalla One", sans-serif;
    font-size: 20px;
    
    font-weight: 400;
    font-style: normal;
}