@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Jaro:opsz@6..72&display=swap');

*{
    cursor: url("../cusor/gam1571-ezgif.com-gif-maker.gif"),auto;
}
html{
    scroll-behavior: smooth;
    scrollbar-color: red;

    animation: cursor infinite ;
    
}
#carouselExampleIndicators{
    margin-top: 0.5%;
}

.card{
    position: relative;
    left: 30%;

}


#cols{
    
    padding: 3rem;    
    display: flex;
    float: left;
    align-items: center;
    justify-content:center;

}
.carousel-item{
    padding: 3rem;    
    display: flex;
    float: left;
    align-items: center;
    justify-content: flex-end;

}
.Logo,.card-title {
    font-family: "Jaro", sans-serif;
  font-optical-sizing: auto;
  
  font-weight: 400;
  font-style: normal;
}
.card-title .Logo #Im{
    height: 17vh;
}
.card-group .card{
    width: clamp(30px,75%,200px);
}
a{
    text-decoration: none;
    text-align: center;
    color: black;
}

#Im{
    font-size: 13px;
}


:not(.Logo){
    font-family: "Fjalla One", sans-serif;
    font-size: 20px;
    
    font-weight: 400;
    font-style: normal;
}



.card  {
  width: clamp(300px, 75% , 700px);
 
  margin-left: -10%;
}